body {
    max-width: 800px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    border: 25cm;
    border-color: rgba(0, 0, 0, 0.776);
    }
  
    .AI {
        display: block;
        margin-left: 200px;
        margin-right: auto;
        width: 50%;
        size-adjust: 20px;
        width: 100%;
        height: auto;
        margin-top: 150px;
      }