body {
  max-width: 800px;
  margin: auto;
  background-color: rgb(0, 0, 0);
  border: 30px;
  border-color: rgba(255, 0, 0, 0.776);
  }
  h1 {
    text-align: center;
    color: white;
  }

  .text {

    text-align: justify;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    color: white;
  }
