body {
  background-image: url(redd.png);
}
.head{
  color: white;
  text-align: center;

}

.but{
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}
.but:hover{
  background-color: #555;
}

  .text {
    text-align: justify;
    font-size: 12pt;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    border: rgb(163, 0, 0);
      border-top-style: none;
      border-top-width: medium;
      border-right-width: medium;
      border-bottom-width: medium;
      border-left-width: medium;
    border-style: solid;
    border-width: 8px;
    background: #1e1c1cf2;
    max-width: 800px;
    padding: 40px;
    margin: auto;
  }
